<footer class="footer">
    <div class="container">
        <div class="information">
            <div class="row">
                <section class="aboutme col-md-12 col-lg-5">
                    <h1>ricardoFanizzi</h1>
                    <span>Full Stack Developer Javascript</span>
                    <a href="mailto:ricardo.fanizzi@gmail.com">ricardo.fanizzi@gmail.com</a>
                </section>
                <section class="socials col-md-6 col-lg-4">
                    <span>Socials</span>
                    <ul>
                        <li><a target="_blank" href="https://github.com/ricardofanizzi">Github</a></li>
                        <li><a target="_blank"
                                href="https://www.linkedin.com/in/ricardo-esparza-fanizzi-139547182/">LinkedIn</a></li>
                        <li><a target="_blank" href="https://www.codewars.com/users/ricardofanizzi">CodeWars
                            </a>
                        </li>
                        <li><a target="_blank" href="https://medium.com/@ricardo.fanizzi">Medium</a></li>
                    </ul>
                </section>
                <section class="menu col-md-5 col-lg-3">
                    <span>Menu</span>
                    <ul>
                        <li><a href="/home#hero">Home</a></li>
                        <li><a href="/home#about">About me</a></li>
                        <li><a href="/home#experiences">Experiences</a></li>
                        <li><a href="/home#projects">Projects</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</footer>