<footer class="footer">
    <div class="container">
        <div class="information">
            <div class="row">
                <section class="aboutme col-md-12 col-lg-5">
                    <h1>ricardoFanizzi</h1>
                    <span>Full Stack Developer Javascript</span>
                </section>
                <section class="socials col-md-6 col-lg-4">
                    <span>Socials</span>
                    <ul>
                        <li><a>Github</a></li>
                        <li><a>LinkedIn</a></li>
                        <li><a>CodeWarriors</a></li>
                    </ul>
                </section>
                <section class="menu col-md-5 col-lg-3">
                    <span>Menu</span>
                    <ul>
                        <li><a>Projects</a></li>
                        <li><a>Curriculum</a></li>
                        <li><a>Posts</a></li>
                        <li><a>Contact</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</footer>