.landing{
    min-height: 81vh;
}
.hero{
    min-height: 100vh;
    padding-top: 5%;
    background-image: url(https://i.postimg.cc/fRWj8gh3/orig-758575.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    margin: 0 auto;
    opacity: .05;
}
.profile{
    padding: 2%;
    border-top: 1px solid rgb(29, 29, 29);
    background-color: rgb(0, 0, 0);
}
.profile .container{
    width: 70%;
    margin: 3% auto;
}

.profile-image .image-box{
    width: 80%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgb(12, 12, 12);
    box-shadow: rgba(53, 53, 53, 0.301) 3px 4px 6px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    opacity: 1;
}
.profile-image img{
    opacity: .4;
    width: 100%;
    height: auto;
    display: block;
}
.profile .information .title h3{
    font-family: 'Oswald', sans-serif;
    font-size:35px;
    color: rgb(141, 141, 141);
}
.profile .information .biography{
    color: rgb(71, 71, 71);
}

.tecnologies{
    min-height: 20vh;
    background-color: rgb(5, 5, 5);
    overflow: hidden;
    display:flex;
    padding:1vh;
    border-top: rgb(204, 204, 204);
    font-family: 'Poppins', sans-serif;
}
.tecnologies img{
    width: 70px;
    height: auto;
    margin-left: 5vh;
}