<div class="landing">
    <section class="hero">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
    <section class="profile">
        <div class="container">
            <div class="row">
                <section data-aos="zoom-in-up" class="profile-image col-md-12 col-lg-5">
                    <div class="image-box">
                        <img src="https://i.postimg.cc/PqRz8FmZ/Ricardo-Esparza-cutout-copia-crop.png" alt="">
                    </div>
                </section>
                <section class="information col-md-12 col-lg-7">
                    <div data-aos="fade-left" class="title">
                        <h3>A little bit about me...</h3>
                    </div>
                    <div data-aos="fade-left" class="biography">
                        <p>
                            I was born in Venezuela, it was 1992.
                            With 2 years of electronic engineering, without finishing it I decided go to Panama in
                            June 2016 and I ended up here in Spain, i clearly remember one day on December 6, 2017.
                            Here I really started my new life ...</p>
                    </div>
                    <button class="btn btn-main" data-aos="fade-left">more about me?</button>
                </section>
            </div>
        </div>
    </section>
    <section class=tecnologies>
        <div data-aos="fade-left" class="container-fluid">
        </div>
    </section>
</div>