<section class="profile">
    <div class="container">
        <div class="row">
            <section data-aos="zoom-in-up" class="profile-image col-md-12 col-lg-5">
                <div class="image-box">
                    <img src="https://i.postimg.cc/KckdBMkT/Ricardo-Esparza.jpg" alt="">
                </div>
            </section>
            <section class="information col-md-12 col-lg-7">
                <div data-aos="fade-right" class="title">
                    <h3>About me...</h3>
                </div>
                <div data-aos="fade-right" class="biography">
                    <p>
                        I was born in Venezuela, I decided go to Panama in
                        June 2015 and I ended up here in Spain, i clearly remember that day "December 6, 2016".
                        Here I really started my new life ...</p>
                </div>
                <button data-toggle="collapse" data-target="#aboutCollapse" class="btn btn-main"
                    data-aos="fade-right">More about me?</button>
                <div class="collapse" id="aboutCollapse">
                    <div class="card card-body">
                        <span>
                            History is under construction, But you can write me and I'll tell you...
                            <br>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>