.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    z-index: 999;
    padding: 1% 5%;
}
.nav-item .editbtn-main {
    width: 120px;
    height: 40px;
    margin: 0 1vh;
    color: rgb(62, 143, 209);
    font-size: 15px;
    transition: .5s;
}
.nav-item .editbtn-main:hover {
    color:rgb(44, 101, 148);
    font-size: 17px;
    text-decoration: line-through;
}
.logo{
    cursor:pointer;
}
.logo span{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(62, 143, 209);
    border-radius: 10%;
    padding: 5%;
}