<section class="experiences">
    <div class="container">
        <div class="row">
            <div data-aos="zoom-in" class="title col-lg-12">
                <h3>Experiences <i class="fas fa-book-open"></i></h3>
            </div>
            <div data-aos="fade-up-right" class="box-information">
                <span>Developer Freelance | 2019 Full Stack Development web project.</span>
                <button class="btn btn-main" data-toggle="collapse" data-target="#firstCollapse">Read
                    more...</button>
            </div>
            <div class="collapse" id="firstCollapse">
                <div class="card card-body">
                    <span>
                        - Frontend: Angular (Web Components, Services, Guards, HTTP), HTML5, CSS3, Bootstrap. <br>
                        - Backend: Nodejs (Expressjs, Jwt, Dotenv, Mysql, moment) for API Rest creation. - BBDD:
                        MySQL. <br>
                        Use Git and Github for version control.
                    </span>
                </div>
            </div>
            <div data-aos="fade-up-right" class="box-information left">
                <span>Purchasing Inventory Manager Auto-Matic Kumy | 2017 to 2019</span>
                <button class="btn btn-main" data-toggle="collapse" data-target="#secondCollapse">Read
                    more...</button>
            </div>
            <div class="collapse left" id="secondCollapse">
                <div class="card card-body">
                    <span>
                        - Responsible for national and international purchases. <br>
                        - Stock control. <br>
                        - Structuring database of spare parts. <br>
                        - Personnel management and induction to jobs related to warehouse. <br>
                    </span>
                </div>
            </div>
            <div data-aos="fade-up-right" class="box-information">
                <span>Field Worker Cirko Engineering Panamá | 2015 to 2016</span>
                <button class="btn btn-main" data-toggle="collapse" data-target="#thirdCollapse">Read
                    more...</button>
            </div>
            <div class="collapse" id="thirdCollapse">
                <div class="card card-body">
                    <span>
                        - Bolting of steel sheets and parts in general with the use of specific tools. <br>
                        - Work at heights of 10 meters. (Harness use). <br>
                        - Lead working group. <br>
                    </span>
                </div>
            </div>
            <div data-aos="fade-up-right" class="box-information left">
                <span>Seller, Operation Analyst Saetanet, C.A & Profesionales Automotrices | 2010 to 2015
                </span>
                <button class="btn btn-main" data-toggle="collapse" data-target="#fourthCollapse">Read
                    more...</button>
            </div>
            <div class="collapse left" id="fourthCollapse">
                <div class="card card-body">
                    <span>
                        - Monitoring in the development of its repair and update of states. <br>
                        - Work supervision, purchase of spare parts. <br>
                        - Sale of automotive products. <br>
                        - Induction or course on equipment sold. <br>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>