.box{
    position: fixed;
    width: auto;
    bottom: 15%;
    right: 8%;
}

.livebox .chatbox{
  font-family: 'Oswald', sans-serif;
  position: relative;
  color: rgb(197, 196, 196);
  background-color: rgb(15, 15, 15);
  font-size: 25px;
  width: 90px;
  height: 90px;
  border: 1px solid rgb(26, 26, 26);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  line-height: 20px;
  padding: 10px;
  box-shadow: rgba(141, 141, 141, 0.301) 3px 4px 6px;
  opacity: 0.9;
  transition: .5s;
}
.livebox .chatbox span {
    font-size: 13px;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    color: rgb(62, 143, 209);
  }
  .livebox .chatbox:hover{
      opacity: .6;
  }
  .livebox .dropchat {
    position: absolute;
    width: 360px;
    right: 0;
    bottom: 120%;
    border-radius: 4px;
    cursor: text;
    display:none;
    border: 1px solid rgb(46, 46, 46);
    box-shadow: rgba(182, 182, 182, 0.301) 3px 4px 6px;
  }
  .livebox .dropchat.show {
    display: block;
    animation: show 1000ms ease;
  }
  .livebox .dropchat .card-header {
    padding: 0.8rem 1rem;
    color: rgb(62, 143, 209);
    background-color: rgb(5, 5, 5);
    border-bottom: 1px rgb(63, 63, 63) solid;
  }
  .livebox .dropchat .card-body {
    height: 40vh;
    padding: 0.5rem;
    background-color: rgb(5, 5, 5);
    overflow:scroll;
  }
  .livebox .dropchat .card-header img {
    width: 25px;
  }
  .livebox .dropchat .card-header h5 {
    font-size: 14px;
    font-weight: bold;
  }
  
  .livebox .dropchat .typer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background-color: rgb(5, 5, 5);
  }
  .livebox .dropchat .typer input {
    width: 100%;
    font-size: 13px;
    padding: 1rem;
    border: 0;
    border-radius: 4px;
    background-color: rgb(5, 5, 5);
  }
  .livebox .dropchat .typer input:focus {
    outline: none;
    color: rgb(184, 184, 184);
  }
  .livebox .dropchat .typer span {
      color: rgb(165, 165, 165);
      font-size: 20px;
      position: absolute;
      padding: 0.5rem;
      cursor: pointer;
      -webkit-appearance: inherit;
      transition: .5s;
  }
  .livebox .dropchat .typer span:hover {
    color: rgb(85, 85, 85);
    font-size: 23px;
}
  
  .livebox .dropchat .list {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      line-height: 15px;
      list-style: none;
      padding: 0.5rem;
  }
  .livebox .dropchat .list.revange {
      display: flex;
      flex-direction: row-reverse;
      align-items: start;
      justify-content: start;
  }
  .livebox .dropchat .list img.chat-avater {
    width: 25px;
    padding-right: 5px;
    padding-left: 0px;
  }
  .livebox .dropchat .list.revange img.chat-avater {
    width: 25px;
    padding-right: 0px;
    padding-left: 5px;
  }
  .livebox .dropchat .list .chat-content {
      width: 70%;
      color: rgb(90, 90, 90);
      background: rgb(255, 255, 255);
      padding: 0.225rem 0.525rem;
      border-radius: .525rem;
      box-shadow: 0 0 0.125rem .0125rem rgba(117, 117, 117, 0.726);
      opacity: .8;
  }
  .livebox .dropchat .list.revange .chat-content {
      color: rgb(37, 37, 37);
      background: rgb(62, 143, 209);
  }
  
  .livebox .dropchat .list:last-child {
    border-bottom: 0;
  }
  .livebox .dropchat .list p {
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 0;
  }
  .livebox .dropchat .list span {
      font-size: 9px;
  }
  
  /*animation*/
  
  @keyframes show {
    0% {
      opacity: 0;
      transform: translate(0,40%)
    }
    100% {
      opacity: 1;
      transform: translate(0, 0%)
    }
  }
  