<section class="projects">
    <div class="projects-box">
        <div data-aos="zoom-in" class="title">
            <h3>Projects <i class="fas fa-project-diagram"></i></h3>
        </div>
        <div class="cards">
            <div data-aos="zoom-in" data-aos-duration="500" class="card-box">
                <div class="front">
                    <div class="image">
                        <img src="https://i.postimg.cc/fRWj8gh3/orig-758575.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="project-name">
                        <h3>Portfolio</h3>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" data-aos-duration="500" data-aos-delay="500" class="card-box">
                <div class="front">
                    <div class="image">
                        <img src="https://i.postimg.cc/jScZQ2zS/Captura-de-pantalla-2020-01-16-a-las-17-00-54.png"
                            alt="" class="img-fluid">
                    </div>
                    <div class="project-name">
                        <h3>DevSocial</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>