<section class=tecnologies>
        <div class="skills">
                <ul>
                        <li data-aos="zoom-in"><img src="https://img.icons8.com/color/96/000000/angularjs.png">
                                Angular
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="200"><img
                                        src="https://img.icons8.com/color/96/000000/html-5.png">
                                HTML5
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="300"> <img
                                        src="https://img.icons8.com/color/96/000000/css3.png">
                                CSS3
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="400"><img
                                        src="https://img.icons8.com/color/96/000000/javascript.png">
                                Javascript
                        </li>

                        <li data-aos="zoom-in" data-aos-delay="500"><img
                                        src="https://img.icons8.com/color/96/000000/nodejs.png">
                                NodeJS
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="600"><img
                                        src="https://img.icons8.com/color/48/000000/pug.png">
                                Pug
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="700"><img
                                        src="https://img.icons8.com/color/96/000000/mongodb.png">
                                MongoDB
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="900"><img
                                        src="https://raw.githubusercontent.com/remojansen/logo.ts/master/ts.png">
                                Typescript
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="1000"><img
                                        src=" https://img.icons8.com/color/96/000000/git.png">
                                Git
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="1100"><img
                                        src="https://img.icons8.com/color/96/000000/firebase.png">
                                Firebase
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="1200"><img
                                        src="https://img.icons8.com/color/96/000000/heroku.png">
                                Heroku
                        </li>
                        <li data-aos="zoom-in" data-aos-delay="1300"><img
                                        src="https://img.icons8.com/color/48/000000/docker-container.png">
                                Docker
                        </li>
                </ul>
        </div>
</section>